p {
    background-color: lightblue;
}

li {
    color: darkblue;
}

h3 {
    font-style: italic;
}

img {
    opacity: 0.8;
    border-radius: 50%;
}

/* I want to target the avatar class */
.avatar {
    width: 300px;
    height: 300px;
}
/* What is specificity? */
