p {
    background-color: lightblue;
}

li {
    color: darkblue;
}

h3 {
    font-style: italic;
}

img {
    opacity: 0.8;
    border-radius: 50%;
}

div {
    margin: 50px;
    padding: 25px 50px 40px 50px;
}

.introduction {
    border: yellowgreen 8px solid;
    margin: 0;
    width: 500px;
}

.country {
    width: 150px;
    height: 150px;
}

/* I want to target the avatar class */
.avatar {
    width: 300px;
    height: 300px;
}
/* What is specificity? */
